@model String

@{
    ViewBag.Title = "Error Page";
}

<p>This is embarrassing. We'll resolve this issue and put a smile back on that face of yours.</p>
<p>This page is here for development purposes only. It will be removed prior to moving to production</p>

<p>@Model</p>
