
@using AgencyAlchemy.Models;
@model PagedItemsModel


<div style="margin-left:15px;">
    @*@Html.Partial("JobsPanel", Model)*@
<div class="clearer"></div>

<br />
<br />

</div>
<div class="clearer"></div>

                      
